<html>

<head>
  <style>
    .inner {
      width: 65%;
      background-color: #f1f5f9;
    }

    @media screen and (max-width: 800px) {
      .inner {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <div style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 1rem;
      ">
    <div class="inner" style="
          padding: 1rem;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        ">
      <div style="width: 100%; display: block; text-align: center">
        <h1 style="font-size: 1.8rem">Service Location</h1>
        <p style="font-size: 1.05rem">
          Netmon is up and running, You can access it
        </p>
        <a href="{{.URL}}" target="_blank" style="
              background-color: #10b981;
              width: 40%;
              font-weight: 750;
              padding: 0.7rem;
              border-radius: 20px;
              color: white;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              text-decoration: none;
              font-size: 1.2rem;
            ">
          <span style="width: 100%; text-align: center"> Here </span>
        </a>
      </div>
    </div>
  </div>
</body>

</html>
