# For the app passwords:
# visit accounts.google.com
# search for app passwords (2FA) is needed
#
# Get the ngrok token
# https://dashboard.ngrok.com/get-started/your-authtoken
#
# CHANGE ONLY THE VALUES ON THE RIGHT
email=email@domain
pwd=app_password
ngrok_token=ngrok_auth_token
