<html>

<head>
  <style>
    .inner {
      width: 65%;
    }

    @media screen and (max-width: 800px) {
      .inner {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <div style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 1rem;
      ">
    <div class="inner" style="
          padding: 1rem;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #f1f5f9;
        ">
      <div style="width: 100%; display: block; text-align: center">
        <p style="font-size: 1.25rem; margin: 1rem auto;">
          An outage occured at <b>{{.Start}}</b>, lasting <b>{{.Duration}}</b>
          before the connection was restored at <u><b>{{.Time}}</b></u>
        </p>
        <p style="font-size: 1.2rem; margin: 0.8rem auto; display: block;">
          You can access it
          <br>
        </p>
        <a href="{{.URL}}" target="_blank" style="
              background-color: #f97316;
              width: 40%;
              font-weight: 750;
              padding: 0.7rem;
              border-radius: 20px;
              color: white;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              text-decoration: none;
              font-size: 1.2rem;
              margin-top: 0.5rem;
            ">
          <span style="width: 100%; text-align: center"> Here </span>
        </a>
      </div>
    </div>
  </div>
</body>

</html>
